@font-face {
  font-family: "Roboto-Regular";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Roboto-Regular/Roboto-Regular.eot");
  src: url("../fonts/Roboto-Regular/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Regular/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular/Roboto-Regular.ttf") format("truetype"), url("../fonts/Roboto-Regular/Roboto-Regular.svg") format("svg"); }

@font-face {
  font-family: "Roboto-Bold";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/Roboto-Bold/Roboto-Bold.eot");
  src: url("../fonts/Roboto-Bold/Roboto-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Bold/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold/Roboto-Bold.ttf") format("truetype"), url("../fonts/Roboto-Bold/Roboto-Bold.svg") format("svg"); }

@font-face {
  font-family: "Neucha";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Neucha/Neucha.eot");
  src: url("../fonts/Neucha/Neucha.eot?#iefix") format("embedded-opentype"), url("../fonts/Neucha/Neucha.woff2") format("woff2"), url("../fonts/Neucha/Neucha.woff") format("woff"), url("../fonts/Neucha/Neucha.ttf") format("truetype"), url("../fonts/Neucha/Neucha.svg") format("svg"); }

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0; }

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.1;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  overflow-x: hidden;
  opacity: 1;
  background-color: #fff;
  color: #fff; }

@-webkit-keyframes pulse-outer {
  0% {
    opacity: 1;
    filter: alpha(opacity=100); }
  50% {
    opacity: 0.5;
    filter: alpha(opacity=50); }
  100% {
    opacity: 0;
    filter: alpha(opacity=0); } }

@keyframes pulse-outer {
  0% {
    opacity: 1;
    filter: alpha(opacity=100); }
  50% {
    opacity: 0.5;
    filter: alpha(opacity=50); }
  100% {
    opacity: 0;
    filter: alpha(opacity=0); } }

@-webkit-keyframes pulse-inner {
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: scale(0);
            transform: scale(0); }
  100% {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes pulse-inner {
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: scale(0);
            transform: scale(0); }
  100% {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: scale(1);
            transform: scale(1); } }

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1000;
  background-color: #ff237b; }
  .preloader__pulse {
    position: relative;
    left: 50%;
    top: 50vh;
    margin-left: -40px;
    margin-top: -40px; }
    .preloader__pulse::before, .preloader__pulse::after {
      content: '';
      border: 5px solid #01d8da;
      width: 80px;
      height: 80px;
      -webkit-border-radius: 500px;
              border-radius: 500px;
      position: absolute; }
    .preloader__pulse::after {
      border: 5px solid #fff; }
    .preloader__pulse::before {
      -webkit-animation: pulse-outer .8s ease-in infinite;
              animation: pulse-outer .8s ease-in infinite; }
    .preloader__pulse::after {
      -webkit-animation: pulse-inner .8s linear infinite;
              animation: pulse-inner .8s linear infinite; }

.button {
  display: inline-block;
  padding: 0px 5.5vh;
  margin: 0;
  background-color: #ff237b;
  color: #fff;
  text-decoration: none;
  text-align: center;
  outline: none;
  font-size: 2vh;
  line-height: 6.6vh;
    line-height-box-shadow: 1.5vh 1.5vh 5.4vh 0.5vh rgba(0, 0, 0, 0.2);
  -webkit-transition: padding .5s ease;
  -o-transition: padding .5s ease;
  transition: padding .5s ease; }
  .button:hover {
    padding: 0 6vh; }

.main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background-color: #01d8da;
  background-image: url(../img/bg_desktop.jpg);
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center left; }
  .main__logo {
    position: absolute;
    top: 5vh;
    left: 4.2vw;
    height: 5vh; }
  .main__phone {
    position: absolute;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    top: 5vh;
    right: 4.2vw;
    text-decoration: none;
    outline: none;
    color: #fff; }
    .main__phone--span {
      display: inline-block;
      margin-right: 2vh;
      font-size: 1.8vh; }
    .main__phone--phone {
      display: inline-block;
      font-size: 3vh;
      font-weight: 700; }
  .main__content {
    margin-left: 4.2vw;
    color: #000; }
  .main__header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 4vh; }
  .main__zumba {
    display: inline-block;
    margin: 0;
    padding: 0; }
  .main__h1 {
    display: inline-block;
    margin-top: 4vh;
    margin-left: 3vh;
    padding: 0;
    font-size: 2.5vh;
    font-family: Neucha;
    font-weight: normal; }
  .main__text {
    font-size: 2.6vh;
    line-height: 1.4; }
    .main__text--mobile {
      display: none; }
  .main__services {
    margin: 0;
    margin-bottom: 3vh;
    padding: 0; }
  .main__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    height: 3.5vh; }
  .main__icon {
    margin-right: 1vh;
    width: 2vh; }
  .main__serv {
    font-size: 2vh;
    margin-top: 0.5vh; }
  .main__instructor {
    margin-bottom: 5vh;
    font-size: 2vh;
    line-height: 1.4; }
  .main__adress {
    position: absolute;
    bottom: 5vh;
    left: 4.2vw;
    margin: 0;
    padding: 0;
    font-size: 1.8vh;
    line-height: 1.4;
    color: #000; }

.instructor {
  position: absolute;
  right: 4.2vw;
  bottom: 25vh;
  color: #000; }
  .instructor__left, .instructor__right {
    display: inline-block;
    font-size: 15vh;
    font-family: neucha;
    font-style: normal; }
  .instructor__left {
    -webkit-transform: translateY(-20%);
        -ms-transform: translateY(-20%);
            transform: translateY(-20%);
    margin-right: 1vh; }
  .instructor__right {
    -webkit-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
            transform: rotate(-180deg);
    margin-left: 1vh; }
  .instructor__text {
    display: inline-block;
    font-family: Neucha;
    font-size: 2.4vh;
    line-height: 1.4;
    font-weight: normal; }
  @media only screen and (min-width: 320px) and (max-width: 767px) {
  .button:hover {
    padding: 0 5.5vh; }
  .main {
    background-image: url(../img/bg_mobile.jpg); }
    .main__logo {
      top: 4vh;
      left: 4vh;
      height: 4vh; }
    .main__phone {
      top: 4vh;
      right: 4vh; }
      .main__phone--span {
        display: none; }
      .main__phone--phone {
        font-size: 2.5vh; }
    .main__content {
      margin-left: 4vh; }
    .main__header {
      margin-bottom: 3vh;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap; }
    .main__zumba {
      height: 9vh; }
    .main__h1 {
      margin: 0;
      margin-top: 3vh; }
    .main__text {
      font-size: 2.6vh;
      line-height: 1.4; }
      .main__text--desktop {
        display: none; }
      .main__text--mobile {
        display: inline-block; }
    .main__instructor {
      margin-bottom: 5vh;
      font-size: 1.8vh;
      line-height: 1.4; }
    .main__adress {
      bottom: 4vh;
      left: 4vh; }
  .instructor {
    display: none; } }
  @media only screen and (min-width: 768px) and (max-width: 1199px) {
  .button:hover {
    padding: 0 5.5vh; }
  .main {
    background-image: url(../img/bg_tablet.jpg); }
    .main__logo {
      top: 4vh;
      left: 4vh;
      height: 4vh; }
    .main__phone {
      top: 4vh;
      right: 4vh; }
      .main__phone--span {
        display: none; }
      .main__phone--phone {
        font-size: 2.5vh; }
    .main__content {
      margin-left: 4vh; }
    .main__header {
      margin-bottom: 3vh; }
    .main__text {
      font-size: 2.6vh;
      line-height: 1.4; }
    .main__adress {
      bottom: 4vh;
      left: 4vh; }
  .instructor {
    display: none; } }
