@font-face {
  font-family: "Roboto-Regular";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Roboto-Regular/Roboto-Regular.eot");
  src: url("../fonts/Roboto-Regular/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Regular/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular/Roboto-Regular.ttf") format("truetype"), url("../fonts/Roboto-Regular/Roboto-Regular.svg") format("svg"); }

@font-face {
  font-family: "Roboto-Bold";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/Roboto-Bold/Roboto-Bold.eot");
  src: url("../fonts/Roboto-Bold/Roboto-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Bold/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold/Roboto-Bold.ttf") format("truetype"), url("../fonts/Roboto-Bold/Roboto-Bold.svg") format("svg"); }

@font-face {
  font-family: "Roboto-Black";
  font-weight: 900;
  font-style: normal;
  src: url("../fonts/Roboto-Black/Roboto-Black.eot");
  src: url("../fonts/Roboto-Black/Roboto-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Black/Roboto-Black.woff2") format("woff2"), url("../fonts/Roboto-Black/Roboto-Black.woff") format("woff"), url("../fonts/Roboto-Black/Roboto-Black.ttf") format("truetype"), url("../fonts/Roboto-Black/Roboto-Black.svg") format("svg"); }

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0; }

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.1;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  overflow-x: hidden;
  opacity: 1;
  background-color: #fff;
  color: #fff; }

@-webkit-keyframes pulse-outer {
  0% {
    opacity: 1;
    filter: alpha(opacity=100); }
  50% {
    opacity: 0.5;
    filter: alpha(opacity=50); }
  100% {
    opacity: 0;
    filter: alpha(opacity=0); } }

@keyframes pulse-outer {
  0% {
    opacity: 1;
    filter: alpha(opacity=100); }
  50% {
    opacity: 0.5;
    filter: alpha(opacity=50); }
  100% {
    opacity: 0;
    filter: alpha(opacity=0); } }

@-webkit-keyframes pulse-inner {
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: scale(0);
            transform: scale(0); }
  100% {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes pulse-inner {
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: scale(0);
            transform: scale(0); }
  100% {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: scale(1);
            transform: scale(1); } }

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1000;
  background-color: #111; }
  .preloader__pulse {
    position: relative;
    left: 50%;
    top: 50vh;
    margin-left: -40px;
    margin-top: -40px; }
    .preloader__pulse::before, .preloader__pulse::after {
      content: '';
      border: 5px solid #a200ff;
      width: 80px;
      height: 80px;
      -webkit-border-radius: 500px;
              border-radius: 500px;
      position: absolute; }
    .preloader__pulse::after {
      border: 5px solid #fff; }
    .preloader__pulse::before {
      -webkit-animation: pulse-outer .8s ease-in infinite;
              animation: pulse-outer .8s ease-in infinite; }
    .preloader__pulse::after {
      -webkit-animation: pulse-inner .8s linear infinite;
              animation: pulse-inner .8s linear infinite; }

.button {
  display: inline-block;
  padding: 0px 4.2vh;
  margin: 0;
  background-color: #fff;
  color: #000;
  text-transform: uppercase;
  outline: none;
  font-size: 1.4vh;
  font-weight: 700;
  line-height: 6.4vh;
  -webkit-border-radius: 5px;
          border-radius: 5px;
    border-radius-box-shadow: 0px 2px 24px 0px rgba(0, 0, 0, 0.35);
  -webkit-transition: padding .5s ease;
  -o-transition: padding .5s ease;
  transition: padding .5s ease; }
  .button:hover {
    padding: 0px 5.2vh; }

.section {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .section__left {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 50vw;
    background-image: url(../img/holl.jpg);
    -webkit-background-size: cover;
            background-size: cover;
    background-position: center;
      background-position-box-shadow: 0px 11px 16px 0px rgba(0, 0, 0, 0.35); }
  .section__right {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 50%;
    background-color: #fff; }

.main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  z-index: 5; }
  .main__top {
    z-index: 5;
    position: absolute;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: 5vh 3.6vw;
    height: 5vh; }
  .main__logo {
    z-index: 5;
    height: 5vh; }
  .main__phone {
    z-index: 5;
    display: inline-block;
    margin: 0;
    margin-left: 2vw;
    padding: 0;
    text-decoration: none;
    color: #fff;
    height: 5vh;
    font-size: 3vh; }
  .main__content {
    z-index: 5;
    margin-top: 50%;
    margin-left: 3.6vw;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    color: #fff; }
  .main__header {
    z-index: 5;
    margin: 0;
    padding: 0;
    width: 90vw;
    font-weight: 900;
    font-size: 6.2vh;
    line-height: 1.3; }
  .main__time {
    z-index: 5;
    display: block;
    margin: 3vh 0;
    padding: 0;
    width: 50vw;
    font-weight: 700;
    font-size: 4vh;
    color: #fff; }
  .main__services {
    z-index: 5;
    margin: 0;
    margin-bottom: 3vh;
    padding: 0;
    list-style: none; }
  .main__icon {
    margin-right: 10px;
    margin-top: 5px;
    width: 13px; }
  .main__serv {
    z-index: 5;
    font-size: 1.8vh;
    line-height: 1.6;
    margin-top: 0px; }
  .main__button {
    z-index: 5;
    text-decoration: none; }
  .main__adress {
    position: absolute;
    z-index: 5;
    bottom: 5vh;
    left: 3.6vw;
    margin: 0;
    padding: 0;
    width: 90vw;
    font-weight: 400;
    font-size: 1.8vh;
    line-height: 1.4; }

.image {
  position: absolute;
  top: 5vh;
  bottom: 5vh;
  right: 3.6vw;
  width: 62.5%;
  background-color: #222;
  -webkit-box-shadow: 0px 11px 16px 0px rgba(0, 0, 0, 0.35);
          box-shadow: 0px 11px 16px 0px rgba(0, 0, 0, 0.35); }
  .image__container--active {
    display: block; }
  .image__container--disable {
    display: none; }
  .image__man {
    position: absolute;
    z-index: 2;
    height: 80%;
    bottom: -1.5%;
    left: -5%; }
  .image__gym {
    position: absolute;
    top: 42%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    left: 35%;
    text-transform: uppercase;
    font-weight: 900;
    text-align: center;
    line-height: 0.9; }
    .image__gym--1 {
      height: 14vw;
      width: 100%;
      color: #a200ff;
      font-size: 13vw; }
    .image__gym--2 {
      height: 3.7vw;
      width: 100%;
      font-size: 3.5vw; }

.form__form {
  z-index: 10;
  position: absolute;
  margin: 0;
  padding: 0;
  width: 25vw;
  left: 53%;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #fff;
  color: #fff; }
  .form__form--closed {
    display: none; }

.form__header {
  margin: 0;
  margin-bottom: 4vh;
  padding: 0;
  font-weight: 400;
  font-size: 4vh; }

.form__input {
  margin-bottom: 2.8vh;
  padding-left: 2.2vh;
  width: 23vw;
  height: 5.5vh;
  outline: none;
  background-color: #222;
  border: 2px solid #fff;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  font-size: 1.5vh; }
  .form__input::-webkit-input-placeholder {
    color: #fff;
    opacity: 1; }
  .form__input::-moz-placeholder {
    color: #fff;
    opacity: 1; }
  .form__input::-ms-input-placeholder {
    color: #fff; }

.form__button {
  cursor: pointer;
  border: none;
  height: 6.5vh;
  padding: 0 4vw;
  background-color: #a200ff;
  color: #fff;
  letter-spacing: 1px; }
  .form__button:hover {
    padding: 0px 4vw;
    background-color: rgba(162, 0, 255, 0.9); }

.form__return {
  outline: none;
  position: absolute;
  top: -6vh;
  right: 0px;
  z-index: 10;
  display: block;
  width: 50px;
  height: 50px;
  font-size: 0;
  margin: 0;
  padding: 0 auto;
  background-color: transparent;
  cursor: pointer;
  border: none; }
  .form__return:hover::before, .form__return:active::before {
    -webkit-box-shadow: 0 0 0 0 #a200ff, 0 0 0 0 #a200ff;
            box-shadow: 0 0 0 0 #a200ff, 0 0 0 0 #a200ff; }
  .form__return::before, .form__return::after {
    content: '';
    position: absolute;
    top: 24px;
    left: 13px;
    width: 24px;
    height: 2px;
    background-color: #a200ff;
    -webkit-transition: background-color .5s ease;
    -o-transition: background-color .5s ease;
    transition: background-color .5s ease; }
  .form__return::before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-box-shadow: none;
            box-shadow: none; }
  .form__return::after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg); }
  .form__return:hover::before, .form__return:hover::after, .form__return:active::before, .form__return:active::after {
    background-color: rgba(255, 255, 255, 0.8); }

.form__text {
  line-height: 1.5;
  font-size: 1.5vh;
  margin-top: 2vh; }

input:required:valid {
  color: #fff; }

input:focus:required:invalid {
  color: #fff; }

@media only screen and (min-width: 320px) and (max-width: 767px) {
  /**/
  .button {
    padding: 0px 9vw;
    font-size: 1.2vh;
    line-height: 6vh;
    -webkit-border-radius: 4px;
            border-radius: 4px; }
    .button:hover {
      padding: 0px 5.5vh; }
  .section__left {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%; }
  .section__right {
    display: none; }
  .main__top {
    margin: 3vh 5vw;
    height: 2vh; }
  .main__logo {
    height: 2.5vh; }
  .main__phone {
    right: 6vw;
    height: 3vh;
    font-size: 2vh; }
  .main__content {
    margin-top: 50%;
    margin-left: 5vw;
    -webkit-transform: translateY(0%);
        -ms-transform: translateY(0%);
            transform: translateY(0%); }
    .main__content--closed {
      display: none; }
  .main__header {
    width: 90vw;
    font-size: 3.5vh; }
  .main__time {
    width: 90vw;
    font-size: 2.5vh;
    color: #fff; }
  .main__icon {
    margin-right: 5px;
    margin-top: 5px;
    width: 10px; }
  .main__serv {
    z-index: 5;
    font-size: 1.8vh;
    line-height: 1.6;
    margin-top: 0px; }
  .main__adress {
    bottom: 6vh;
    left: 5vw;
    width: 90vw;
    font-size: 1.4vh;
    line-height: 1.4; }
  .image {
    display: none;
    z-index: 0;
    top: 3vh;
    bottom: 3vh;
    right: 0;
    width: 50%; }
    .image__man {
      display: none; }
  .form__form {
    width: 80vw;
    left: 10%; }
  .form__header {
    margin-bottom: 3vh;
    font-size: 3vh;
    line-height: 3.5vh;
    width: 80vw; }
  .form__input {
    margin-bottom: 2vh;
    padding-left: 2.2vh;
    border: 1px solid #fff;
    background-color: transparent;
    width: 75vw;
    height: 5vh;
    -webkit-border-radius: 4px;
            border-radius: 4px; }
  .form__button {
    height: 6vh;
    -webkit-border-radius: 3px;
            border-radius: 3px;
    letter-spacing: 0px;
    padding: 0 14vw;
    background-color: #fff;
    color: #111;
    font-size: 3vw; }
    .form__button:hover {
      padding: 0px 14vw;
      background-color: rgba(255, 255, 255, 0.9); }
  .form__return {
    outline: none;
    position: absolute;
    top: -9vh;
    right: -5vw;
    z-index: 10;
    display: block;
    width: 50px;
    height: 50px;
    font-size: 0;
    margin: 0;
    padding: 0 auto;
    background-color: transparent;
    cursor: pointer;
    border: none; }
    .form__return:hover::before, .form__return:active::before {
      -webkit-box-shadow: 0 0 0 0 #222, 0 0 0 0 #222;
              box-shadow: 0 0 0 0 #222, 0 0 0 0 #222; }
    .form__return::before, .form__return::after {
      content: '';
      position: absolute;
      top: 24px;
      left: 13px;
      width: 24px;
      height: 2px;
      background-color: #fff;
      -webkit-transition: background-color .5s ease;
      -o-transition: background-color .5s ease;
      transition: background-color .5s ease; }
    .form__return::before {
      -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
              transform: rotate(45deg);
      -webkit-box-shadow: none;
              box-shadow: none; }
    .form__return::after {
      -webkit-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
              transform: rotate(-45deg); }
    .form__return:hover::before, .form__return:hover::after, .form__return:active::before, .form__return:active::after {
      background-color: #222; }
  .form__text {
    line-height: 1.5;
    font-size: 1.2vh;
    margin-top: 2vh; } }

@media only screen and (min-width: 768px) and (max-width: 1199px) {
  /**/
  .button {
    padding: 0px 5vw;
    font-size: 1.2vh;
    line-height: 5.5vh;
    -webkit-border-radius: 4px;
            border-radius: 4px; }
    .button:hover {
      padding: 0px 5.5vh; }
  .section {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .section__left {
      -webkit-flex-basis: 100%;
          -ms-flex-preferred-size: 100%;
              flex-basis: 100%; }
    .section__right {
      -webkit-flex-basis: 90px;
          -ms-flex-preferred-size: 90px;
              flex-basis: 90px; }
  .main__top {
    margin: 3vh 5vw;
    height: 2vh; }
  .main__logo {
    height: 3vh; }
  .main__phone {
    margin-left: 3vw;
    height: 3vh;
    font-size: 2vh; }
  .main__content {
    margin-top: 40%;
    margin-left: 5vw;
    -webkit-transform: translateY(0%);
        -ms-transform: translateY(0%);
            transform: translateY(0%); }
    .main__content--closed {
      display: none; }
  .main__header {
    width: 90vw;
    font-size: 5vh; }
  .main__time {
    width: 50vw;
    font-size: 2.5vh;
    color: #fff; }
  .main__icon {
    margin-right: 10px;
    margin-top: 5px;
    width: 13px; }
  .main__serv {
    z-index: 5;
    font-size: 1.5vh;
    line-height: 1.6;
    margin-top: 0px; }
  .main__adress {
    bottom: 3vh;
    left: 5vw;
    width: 90vw;
    font-size: 1.4vh;
    line-height: 1.4; }
  .image {
    z-index: 0;
    top: 3vh;
    bottom: 3vh;
    right: 0;
    width: 70%; }
    .image__man {
      height: 70%;
      bottom: -1.3%;
      left: -9%; }
    .image__gym {
      display: none; }
  .form__form {
    width: 58vw;
    left: 37%; }
  .form__header {
    margin-bottom: 3vh;
    font-size: 3vh;
    line-height: 3.5vh;
    width: 50vw; }
  .form__input {
    margin-bottom: 2vh;
    padding-left: 2.2vh;
    width: 52vw;
    height: 5vh;
    -webkit-border-radius: 4px;
            border-radius: 4px; }
  .form__button {
    height: 5.5vh;
    padding: 0 6vw;
    background-color: #a200ff;
    color: #fff; }
    .form__button:hover {
      padding: 0px 6vw;
      background-color: rgba(162, 0, 255, 0.9); }
  .form__return {
    outline: none;
    position: absolute;
    top: -6vh;
    right: 0vw;
    z-index: 10;
    display: block;
    width: 50px;
    height: 50px;
    font-size: 0;
    margin: 0;
    padding: 0 auto;
    background-color: transparent;
    cursor: pointer;
    border: none; }
    .form__return:hover::before, .form__return:active::before {
      -webkit-box-shadow: 0 0 0 0 #a200ff, 0 0 0 0 #a200ff;
              box-shadow: 0 0 0 0 #a200ff, 0 0 0 0 #a200ff; }
    .form__return::before, .form__return::after {
      content: '';
      position: absolute;
      top: 24px;
      left: 13px;
      width: 24px;
      height: 2px;
      background-color: #a200ff;
      -webkit-transition: background-color .5s ease;
      -o-transition: background-color .5s ease;
      transition: background-color .5s ease; }
    .form__return::before {
      -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
              transform: rotate(45deg);
      -webkit-box-shadow: none;
              box-shadow: none;
      left: 12px;
      top: 23px; }
    .form__return::after {
      -webkit-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
              transform: rotate(-45deg); }
    .form__return:hover::before, .form__return:hover::after, .form__return:active::before, .form__return:active::after {
      background-color: rgba(255, 255, 255, 0.8); }
  .form__text {
    line-height: 1.5;
    font-size: 1.3vh;
    margin-top: 2vh; } }
